<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Estilo.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <title>Modificar Producto</title>
    <link rel="icon" href="{% static 'img/icono-logo.ico' %}">
    <style>
        label.error{
            color: rgb(255, 255, 255);
            font-size: 0.8em;
            width: 200px;
            padding-top: 5px;   
        }
    </style>
    <script>
        $(function(){
            $("#formulario").validate({
                rules:{
                    codigo:"required",
                    nombre: "required",
                    descripcion: "required",
                    precio: "required",
                    stock: "required",
                    categoria : "required",
                },
                messages:{
                    codigo:{
                        required: 'Ingrese codigo',
                    },
                    nombre:{
                        required: 'Ingrese nombre',
                    },
                    descripcion:{
                        required: 'Ingrese descripcion',
                    },
                    precio:{
                        required: 'Ingrese precio',
                    },
                    stock:{
                        required: 'Ingrese stock',
                    },
                    categoria:{
                        required: 'Ingrese categoria',
                    }
                }
            })
        });
    </script>

</head>
<body>
    <div class="container-fluid" style="background-color: #6d6d6d;"> <!--DIV GLOBAL-->


        <!--LINEA SUPERIOR-->
        <div class="container-fluid">
            <div class="row" style="background-color: #6d6d6d;">
                <div class="col-md">
                    <div class="container-fluid" id="centrar">
                        <div class="container-clock"> 
                            <h1 id="time">00:00:00</h1>
                            <p id="date">Fecha</p>
                        </div> 
                    </div>
                </div> 
                <div class="col-md boton bajarBoton">
                    <div class="iniciar">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" type="button" class="btn btn-info">Cerrar Sesion</a>
                        {% else %}
                        <a href="{% url 'login' %}" type="button" class="btn btn-info">Iniciar Sesion</a>
                        {% endif %}
                    </div>   
                </div>           
            </div>
        </div><!--FIN LINEA SUPERIOR-->



        <!--NAVBAR DE COLOR-->
        <nav class="navbar navbar-expand-sm bg-info navbar-dark"> 
            <!--BOTON DE HAMBURGUESA-->
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#opciones">
                    <span class="navbar-toggler-icon"></span>
            </button>

            <!--LOGO EN NAVBAR-->
            <a href="{% url 'inicio' %}" class="navbar-brand">
                <img src="{% static 'img/logo.png' %}" width="130px" height="130px">
            </a>

            <!--CONFIGURACION OPCIONES-->
            <div class="collapse navbar-collapse" id="opciones">
                {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perros' %}">Perros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gatos' %}">Gatos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">Exoticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'quienes' %}">¿Quienes Somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bienvenid@ {{user.username}}</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'perros' %}">Perros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gatos' %}">Gatos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">Exoticos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'quienes' %}">¿Quienes Somos?</a>
                    </li>                 
                </ul>
                {% endif %}
            </div>
        </nav> <!--FIN NAVBAR-->
        <br><br>


        <div class="container">
            {% if user.is_authenticated %}
            <h2 class="fuenteBlanca">Modificar Producto</h2>
            <form method="POST" id="formulario" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <label for="{{form.field.name}}">
                        {{ form.codigo.label }} <!--ACCEDEN AL LABEL QUE FIJAMOS EN EL FORMULARIO (ETIQUETA)-->
                    </label>
                    {{form.codigo}} <!--ACCEDE AL IMPUT DEL WIDGET-->
                </div>

                <div class="row">
                    <label for="{{form.field.name}}">
                        {{ form.nombre.label }} 
                    </label>
                    {{form.nombre}} 
                </div>

                <div class="row">
                    <label for="{{form.field.name}}">
                        {{ form.descripcion.label }} 
                    </label>
                    {{form.descripcion}} 
                </div>

                <div class="row">
                    <label for="{{form.field.name}}">
                        {{ form.precio.label }} 
                    </label>
                    {{form.precio}} 
                </div>

                <div class="row">
                    <label for="{{form.field.name}}">
                        {{ form.stock.label }} 
                    </label>
                    {{form.stock}} 
                </div>

                <div class="row">
                    <label for="{{form.field.name}}">
                        {{ form.categoria.label }} 
                    </label>
                    {{form.categoria}} 
                </div>
                <div class="row">
                    <label for="{{ productoform.field.name }}"> 
                        {{ form.imagen.label}}
                    </label>
                    {{ form.imagen }}
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md">
                        <input type="submit" class="btn btn-info" value="Modificar">
                        <a href="{% url 'inicio' %}" class="btn btn-success">Inicio</a>
                    </div>
                </div>
            </form>
            {% else %}
            <h2 class="fuenteBlanca">Debe ser administrador para acceder a esta opcion</h2>
            {% endif %}  
            <br><br><br><br>
        </div>



    <script src="{% static 'js/codes.js' %}"></script>
    <script src="{% static 'js/clock.js' %}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>     
</body>
</html>